## Submit your completed assignment during class time before 9:15AM. (20 points) 

Any late submission will lose 20 points. 

Submissions later than today's midnight 11:59PM will have no credit.

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

#### Download the data in your local computer and read the csv (5 points)

In [13]:
# #df=pd.read_csv('data.csv')
# import pandas as pd

# # Try different encodings
# df = pd.read_csv('data.csv', encoding='utf-8')
# import pandas as pd

#df = pd.read_csv(r'C:\Users\annem\Downloads\data.csv')
                 #, encoding='utf-8')
import pandas as pd

# Try a different encoding
df = pd.read_csv(r'C:\Users\annem\Downloads\data.csv', encoding='latin1')

#### Show 10 rows of the dataframe (5 points)

In [14]:
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

#### What is the shape of the data (rows and columns) (5 points)

In [16]:
#df.shape()
print(" Shape of DataFrame:", df.shape)

 Shape of DataFrame: (541909, 8)

#### What is the data type of the each column (5 points)

In [17]:
column_data_types = df.dtypes


print(column_data_types)

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

#### Calculate the average of "UnitPrice". (5 points)

In [20]:
#avg(df[UnitPrice])


average_unit_price = df['UnitPrice'].mean()

# Print the average unit price
print("Average UnitPrice:", average_unit_price)

Average Unit Price: 4.611113626088513

#### Create a new DataFrame that includes only the "France". (5 points)

In [21]:


france_df = df[df['Country'] == 'France']
france_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,12/1/2010 8:45,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,12/1/2010 8:45,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,12/1/2010 8:45,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,0.85,12583.0,France
30,536370,21883,STARS GIFT TAPE,24,12/1/2010 8:45,0.65,12583.0,France
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

#### Save this filtered DataFrame to a new CSV file named "data_France.csv." (5 points)

In [22]:
# Save the filtered DataFrame to a new CSV file
france_df.to_csv('data_France.csv', index=False)

In [34]:
france=pd.read_csv('data_France.csv')

#### Are there issues with the data (20 points)

Is there missing data

<!-- yes missing values -->

In [42]:
# france_df.isna()
print(df.isna())
missing_data = df.isna().sum()


any_missing_data = missing_data.any()
print(any_missing_data)

        InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0           False      False        False     False        False      False
1           False      False        False     False        False      False
2           False      False        False     False        False      False
3           False      False        False     False        False      False
4           False      False        False     False        False      False
...           ...        ...          ...       ...          ...        ...
541904      False      False        False     False        False      False
541905      False      False        False     False        False      False
541906      False      False        False     False        False      False
541907      False      False        False     False        False      False
541908      False      False        False     False        False      False

        CustomerID  Country
0            False    False
1            False    False
2            False    False
3            False    False
4            False    False
...            ...      ...
541904       False    False
541905       False    False
541906       False    False
541907       False    False
541908       False    False

[541909 rows x 8 columns]
True

How many rows have missing data

In [62]:
print(len(df.isna()))

missing_data = df.isna()

rows_with_missing_data = missing_data.any(axis=1)
print(rows_with_missing_data)

# Count the number of rows with missing data
rows_missing_count = rows_with_missing_data.sum()
print(rows_missing_count)
print("Number of rows with missing data:", rows_missing_count)

541909
0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905    False
541906    False
541907    False
541908    False
Length: 541909, dtype: bool
Number of rows with missing data: 135080

What is the percentage of missing data

In [44]:
import pandas as pd


total_cells = df.size

# Calculate the number of missing cells
missing_cells = df.isna().sum().sum()

#print(missing_cells)
percentage_missing_data = (missing_cells / total_cells) * 100


print("Percentage of missing data:", percentage_missing_data, "%")

Percentage of missing data: 3.149375633178264 %

Show rows of missing data

In [46]:
#print(df.isna)
#import pandas as pd


missing_data = df.isna().any(axis=1)

rows_with_missing_data = df[missing_data]

# Print the rows with missing data
print(rows_with_missing_data)

       InvoiceNo StockCode                      Description  Quantity  \
622       536414     22139                              NaN        56
1443      536544     21773  DECORATIVE ROSE BATHROOM BOTTLE         1
1444      536544     21774  DECORATIVE CATS BATHROOM BOTTLE         2
1445      536544     21786               POLKADOT RAIN HAT          4
1446      536544     21787            RAIN PONCHO RETROSPOT         2
...          ...       ...                              ...       ...
541536    581498    85099B          JUMBO BAG RED RETROSPOT         5
541537    581498    85099C   JUMBO  BAG BAROQUE BLACK WHITE         4
541538    581498     85150    LADIES & GENTLEMEN METAL SIGN         1
541539    581498     85174                S/4 CACTI CANDLES         1
541540    581498       DOT                   DOTCOM POSTAGE         1

            InvoiceDate  UnitPrice  CustomerID         Country
622     12/1/2010 11:52       0.00         NaN  United Kingdom
1443    12/1/2010 14:32       2.51         NaN  United Kingdom
1444    12/1/2010 14:32       2.51         NaN  United Kingdom
1445    12/1/2010 14:32       0.85         NaN  United Kingdom
1446    12/1/2010 14:32       1.66         NaN  United Kingdom
...                 ...        ...         ...             ...
541536  12/9/2011 10:26       4.13         NaN  United Kingdom
541537  12/9/2011 10:26       4.13         NaN  United Kingdom
541538  12/9/2011 10:26       4.96         NaN  United Kingdom
541539  12/9/2011 10:26      10.79         NaN  United Kingdom
541540  12/9/2011 10:26    1714.17         NaN  United Kingdom

[135080 rows x 8 columns]

#### Give the number of transactions by country (5 points)

In [54]:


transactions_by_country = df.groupby('Country')['InvoiceNo'].count()


print(transactions_by_country)

Country
Australia                 1259
Austria                    401
Bahrain                     19
Belgium                   2069
Brazil                      32
Canada                     151
Channel Islands            758
Cyprus                     622
Czech Republic              30
Denmark                    389
EIRE                      8196
European Community          61
Finland                    695
France                    8557
Germany                   9495
Greece                     146
Hong Kong                  288
Iceland                    182
Israel                     297
Italy                      803
Japan                      358
Lebanon                     45
Lithuania                   35
Malta                      127
Netherlands               2371
Norway                    1086
Poland                     341
Portugal                  1519
RSA                         58
Saudi Arabia                10
Singapore                  229
Spain                     2533
Sweden                     462
Switzerland               2002
USA                        291
United Arab Emirates        68
United Kingdom          495478
Unspecified                446
Name: InvoiceNo, dtype: int64

#### Find the highest valued item in the transactions (5 points)

In [66]:
#print(df['Quantity'])

df['total_value'] = df['Quantity'] * df['UnitPrice']

highest_valued_item = df[df['total_value'] == df['total_value'].max()]

# Display the result
print(highest_valued_item[['StockCode']])
print(highest_valued_item[['Description']])

       StockCode
540421     23843
                        Description
540421  PAPER CRAFT , LITTLE BIRDIE

#### Which customer had the highest number of transactions (5 points)

In [69]:

#df['CustomerID']==df['InvoiceNo']
#without rest_indexerror
customer_transactions = df.groupby('CustomerID')['InvoiceNo'].nunique().reset_index()
#print(customer_transactions)
# Rename the columns for clarity
customer_transactions.columns = ['CustomerID', 'Number of Transactions']

# max is used to get the highest transcationa
customer_with_highest_transactions = customer_transactions[customer_transactions['Number of Transactions'] == customer_transactions['Number of Transactions'].max()]

# Display the result
print(customer_with_highest_transactions)

      CustomerID  InvoiceNo
0        12346.0          2
1        12347.0          7
2        12348.0          4
3        12349.0          1
4        12350.0          1
...          ...        ...
4367     18280.0          1
4368     18281.0          1
4369     18282.0          3
4370     18283.0         16
4371     18287.0          3

[4372 rows x 2 columns]
      CustomerID  Number of Transactions
1895     14911.0                     248

#### Which customers bought `KNITTED UNION FLAG HOT WATER BOTTLE`  (5 points)

In [71]:
# product_name = 'KNITTED UNION FLAG HOT WATER BOTTLE'
# customers_who_bought_product = df[df['description'] == product_name]['customer ID']

# # Print the customers who bought the product
# print(customers_who_bought_product)

product_name = 'KNITTED UNION FLAG HOT WATER BOTTLE'
customers_who_bought_product = df[df['Description'] == product_name]['CustomerID']

print(customers_who_bought_product)

3         17850.0
61        17850.0
78        17850.0
230       17511.0
291       17850.0
           ...
538245    13510.0
538824    13013.0
540396    14441.0
541320        NaN
541619    14422.0
Name: CustomerID, Length: 473, dtype: float64

#### Show customers who bought `KNITTED UNION FLAG HOT WATER BOTTLE` and `CREAM CUPID HEARTS COAT HANGER` (5 points)

In [70]:
import pandas as pd

product_name = 'KNITTED UNION FLAG HOT WATER BOTTLE' and 'CREAM CUPID HEARTS COAT HANGER'
customers_who_bought_product = df[df['Description'] == product_name]['CustomerID']
print(customers_who_bought_product)

2         17850.0
51        17850.0
68        17850.0
280       17850.0
418       17850.0
           ...
515217        NaN
521149    13458.0
522594    17858.0
525699    14649.0
526594    13089.0
Name: CustomerID, Length: 293, dtype: float64

## Delievery: Please upload your notebook and data_France.csv to canvas/Assignments/quiz 1.